<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/listedProducts.css">
  <title>Hardwares</title>
</head>
<body>
<section>
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card" th:each="h : ${listHC.all}" th:object="${h}">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
               data-mdb-ripple-color="light">
            <th:block th:if="${h.hardware.id == 1}">
              <img src="/images/hardware/A-Rendering-of-a-CPU.webp" />
            </th:block>
            <th:block th:if="${h.hardware.id == 2}">
              <img src="/images/hardware/what-is-a-gpu-770x462.jpg" />
            </th:block>
            <th:block th:if="${h.hardware.id == 3}">
              <img src="/images/hardware/mother_board.jpg" />
            </th:block>
            <th:block th:if="${h.hardware.id == 4}">
              <img src="/images/hardware/img.jpg" />
            </th:block>
            <th:block th:if="${h.hardware.id == 5}">
              <img src="/images/hardware/SSD_480x480.webp" />
            </th:block>
            <th:block th:if="${h.hardware.id == 6}">
              <img src="/images/hardware/Y2083900-01.webp" />
            </th:block>
            <th:block th:if="${h.hardware.id == 7}">
              <img src="/images/hardware/awd-air-mesh-blk.webp" />
            </th:block>
            <th:block th:if="${h.hardware.id == 8}">
              <img src="/images/hardware/20-232-728-V01.jpg" />
            </th:block>
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset" th:href="@{/hardware/details/{id}(id=*{id})}">
              <h5 class="card-title mb-3" th:text="*{name}">Product name</h5>
            </a>
            <a href="" class="text-reset">
              <p th:text="*{hardware.type}">Category</p>
            </a>
            <h6 class="mb-3" th:text="*{price}">$61.99</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>