<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/listedProducts.css">
  <title>Peripherals</title>
</head>
<body>
<section>
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card" th:each="e : ${listPE.all}" th:object="${e}">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
               data-mdb-ripple-color="light">
            <th:block th:if="${e.peripheral.id == 1}">
              <img src="/images/peripheral/61ta6aU2AUL.jpg" />
            </th:block>
            <th:block th:if="${e.peripheral.id == 2}">
              <img src="/images/peripheral/glorious_model_o_wired_full_size_black_matte_6.webp" />
            </th:block>
            <th:block th:if="${e.peripheral.id == 3}">
              <img src="/images/peripheral/981000818.png" />
            </th:block>
            <th:block th:if="${e.peripheral.id == 4}">
              <img src="/images/peripheral/01_xl2746k-front.webp" />
            </th:block>
            <th:block th:if="${e.peripheral.id == 5}">
              <img src="/images/peripheral/GameStop-Bluetooth-Gaming-Speakers-with-RGB-LED-Lighting.jpg" />
            </th:block>
            <th:block th:if="${e.peripheral.id == 6}">
              <img src="/images/peripheral/dualsense-edge-listing-thumb-01-en-23aug22.webp" />
            </th:block>
            <th:block th:if="${e.peripheral.id == 7}">
              <img src="/images/peripheral/computer-peripherals-1217771.jpg" />
            </th:block>
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset" th:href="@{/peripheral/details/{id}(id=*{id})}">
              <h5 class="card-title mb-3" th:text="*{name}">Product name</h5>
            </a>
            <a href="" class="text-reset">
              <p th:text="*{peripheral.type}">Category</p>
            </a>
            <h6 class="mb-3" th:text="*{price}">$61.99</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>