form {
    display: grid;
    align-items: center;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 5%;
}

body {
    background-image: linear-gradient(to right, rgba(28, 159, 235, 0.925) , rgb(255, 255, 255));
}

#bb {
    background-color: #f9f0d2; /* Black w/opacity/see-through */
    color: #7b6f00;
    border: 2px solid #ecc649;
}

#bb:hover {
    background-color: #ecc649; /* Black w/opacity/see-through */
    color: #7b6f00;
    border: 2px solid #ecc649;
}

