<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
    <title>Document</title>
</head>
<body>
<header>
    <h1>My Website</h1>
    <p>With a <b>flexible</b> layout.</p>
</header>
<nav th:replace="fragments/nav2"></nav>
<main>
    <section id="news">
        <article>
            <img src="img/attire.jpg" alt="news-cover">
            <h3>A Viennese Attire in the Museum</h3>
            <p>
                With their exhibition project "Beauty", Stefan Sagmeister and Jessica Walsh supply a multimedial plea in
                the MAK for the desire for beauty.
            </p>
        </article>
        <article>
            <img src="img/wien-modern.jpg" alt="news-cover">
            <h3>Wien Modern</h3>
            <p>Making contemporary music is at the heart of the Wien Modern festival, which takes to the city's
                stages from October 28 to November 30, 2018. 110 events present.
            </p>
        </article>
        <article>
            <img src="img/bruegel.jpg" alt="news-cover">
            <h3>Unique Bruegel exhibition</h3>
            <p>
                With their exhibition project "Beauty", Stefan Sagmeister and Jessica Walsh supply a multimedial plea in
                the MAK for the desire for beauty.
            </p>
        </article>
        <article>
            <img src="img/jewellery.jpg" alt="news-cover">
            <h3>Vienna Jewellery Days</h3>
            <p>Making contemporary music is at the heart of the Wien Modern festival, which takes to the city's
                stages from October 28 to November 30, 2018. 110 events present.
            </p>
        </article>
        <article>
            <img src="img/bruegel.jpg" alt="news-cover">
            <h3>Unique Bruegel exhibition</h3>
            <p>
                With their exhibition project "Beauty", Stefan Sagmeister and Jessica Walsh supply a multimedial plea in
                the MAK for the desire for beauty.
            </p>
        </article>
        <article>
            <img src="img/wien-modern.jpg" alt="news-cover">
            <h3>Wien Modern</h3>
            <p>Making contemporary music is at the heart of the Wien Modern festival, which takes to the city's
                stages from October 28 to November 30, 2018. 110 events present.
            </p>
        </article>
    </section>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>DigiMedia</h5>
                <h3>CREATIVITY ABOVE</h3>
                <ul class="contact-nav">
                    <li><a href="#home">Home.</a></li>
                    <li><a href="#about-us">About Us.</a></li>
                    <li><a href="#portfolio">Portfolio.</a></li>
                    <li><a href="#blog">Blog.</a></li>
                    <li><a href="#contact-us">Contact.</a></li>
                </ul>
                <h6>© 2021 - DigiMedia</h6>
            </div>
        </div>
    </div>
</footer>
</body>
</html>