<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
    <title>Document</title>
</head>
<body>
<header>
    <h1>My Website</h1>
    <p>With a <b>flexible</b> layout.</p>
</header>
<nav th:replace="fragments/nav2"></nav>
<main>
    <section id="news">
        <div class="artic" th:each="h : ${lHC}" th:object="${h}">
            <img src="img/attire.jpg" alt="news-cover">
            <h3 th:text="*{name}">A Viennese Attire in the Museum</h3>
            <p th:text="*{price}">
                With their exhibition project "Beauty", Stefan Sagmeister and Jessica Walsh supply a multimedial plea in
                the MAK for the desire for beauty.
            </p>
        </div>
        <div class="artic" th:each="pe : ${lPE}" th:object="${pe}">
            <img src="img/attire.jpg" alt="news-cover">
            <h3 th:text="*{name}">A Viennese Attire in the Museum</h3>
            <p th:text="*{price}">
                With their exhibition project "Beauty", Stefan Sagmeister and Jessica Walsh supply a multimedial plea in
                the MAK for the desire for beauty.
            </p>
        </div>
        <div class="artic" th:each="p : ${lPC}" th:object="${p}">
            <img src="img/attire.jpg" alt="news-cover">
            <h3 th:text="*{name}">A Viennese Attire in the Museum</h3>
            <p th:text="*{price}">
                With their exhibition project "Beauty", Stefan Sagmeister and Jessica Walsh supply a multimedial plea in
                the MAK for the desire for beauty.
            </p>
        </div>
        <div class="artic" th:each="t : ${lTC}" th:object="${t}">
            <img src="img/attire.jpg" alt="news-cover">
            <h3 th:text="*{name}">A Viennese Attire in the Museum</h3>
            <p th:text="*{price}">
                With their exhibition project "Beauty", Stefan Sagmeister and Jessica Walsh supply a multimedial plea in
                the MAK for the desire for beauty.
            </p>
        </div>
    </section>
    <a href="/users/show/allUsers" class="messenger">
        <i class="fab fa-facebook-messenger"></i>
    </a>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>DigiMedia</h5>
                <h3>CREATIVITY ABOVE</h3>
                <ul class="contact-nav">
                    <li><a href="#home">Home.</a></li>
                    <li><a href="#about-us">About Us.</a></li>
                    <li><a href="#portfolio">Portfolio.</a></li>
                    <li><a href="#blog">Blog.</a></li>
                    <li><a href="#contact-us">Contact.</a></li>
                </ul>
                <h6>© 2021 - DigiMedia</h6>
            </div>
        </div>
    </div>
</footer>
</body>
</html>